<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="ISO-8859-1">
		<title>Ventura - Login</title>

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
 	    <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="/assets/img/logo.png" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
								<p class="account-subtitle">Access to your dashboard</p>
								<p th:if="${message =='useradded'}" class="account-subtitle" style="color:green; font-size:14px;"> User registered successfully. Login now</p>
								
								<!-- Form -->
								<form method="POST" id="login_form" class="form-horizontal">
									<div class="form-group">
										<input class="form-control" name="username" type="text" placeholder="Username">
									</div>
									<div class="form-group">
										<input class="form-control" name="password" type="password" placeholder="Password">
									</div>
									<div class="form-group">
										<input class="form-control" type="hidden" name="grant_type" value="password">
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Login</button>
									</div>
								</form>
								<!-- /Form -->
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div>
								  
								<!-- Social Login -->
								
								<!-- /Social Login -->
								
								<div class="text-center dont-have">Don’t have an account? <a href="/register">Register</a></div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       	<script src="/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="/assets/js/script.js"></script>
</body>
<script type="text/javascript">
	$("#login_form").submit(function(e){
		e.preventDefault();
		var formData = jQuery(this).serialize();
		$.ajax({
			type: "post",
			url:"/oauth/token",
			headers: {
		        'Authorization':'Basic '+ btoa('devglan-client:devglan-secret'),
		    },
			data: formData,
			dataType:"json",
			success:function(data){
				console.log(data);
				window.location= '/store/'+data.access_token+'/'+data.refresh_token+'?access_token='+data.access_token;
			}
		})
	})
</script>
</html>