<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="ISO-8859-1">
		<title>Ventura - Register</title>

		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
</head>
 <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">
                    	<div class="login-left">
							<img class="img-fluid" src="assets/img/logo.png" alt="Logo">
                        </div>
                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Register</h1>
								<p class="account-subtitle">Access to our dashboard</p>
								
								<!-- Form -->
								<form th:object="${user}">
									<div class="form-group">
										<input class="form-control" type="text" name="username" placeholder="username">
										<p style="color:red" th:if="${#fields.hasErrors('username')}" th:error="*{username}"></p>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="address" placeholder="address">
										<p style="color:red" th:if="${#fields.hasErrors('address')}" th:error="*{address}"></p>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="dob" placeholder="dob">
										<p style="color:red" th:if="${#fields.hasErrors('dob')}" th:error="*{dob}"></p>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" name="password" placeholder="Password">
										<p style="color:red" th:if="${#fields.hasErrors('password')}" th:error="*{password}"></p>
									</div>
									<div class="form-group mb-0">
										<button class="btn btn-primary btn-block" type="submit">Register</button>
									</div>
								</form>
								<!-- /Form -->
								
								<div class="login-or">
									<span class="or-line"></span>
									<span class="span-or">or</span>
								</div>
								
								<!-- Social Login -->

								<!-- /Social Login -->
								
								<div class="text-center dont-have">Already have an account? <a href="/login">Login</a></div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/script.js"></script>
		
    </body>

<!-- Mirrored from dreamguys.co.in/demo/ventura/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Aug 2019 09:33:16 GMT -->
</html>